# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.env.*
*.sqlite3
.alembic
.mypy_cache/
.pytest_cache/
/.venv
/.venv*/
/.python-version

# Node
node_modules/
dist/
.vite/
.DS_Store
.npmrc

# IDE
.idea/
.vscode/
*.iml

# Local data
storage/uploads/
